* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 50px 0;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}

button {
  display: block;
  margin: 5rem auto;
  padding: 10px;
  border-radius: 10%;
  font-size: 20px;
  color: white;
  background-color: dimgray;
  border: none;
}

button:hover {
  background-color: slategray;
}

button:focus {
  outline: none;
  background-color: slategray;
}

.dices {
  display: flex;
  justify-content: center;
}

.dice {
  margin: 5rem 2rem;
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 10%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 8rem;
}

@media(max-width: 479px) {
  button {
    margin: 5rem auto;
    width: 200px;
  }

  .dice {
    margin: 3rem 1rem;
    width: 70px;
    height: 70px;
  }

  .number {
    font-size: 3rem;
}